[submodule "linearizer_console"]
	path = linearizer_console
	url = https://github.com/DDRDmakar/linearizer_console.git
[submodule "linearizer_idea"]
	path = linearizer_idea
	url = https://github.com/DDRDmakar/linearizer_idea.git
