body {
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #666;
    position: relative;
    height: 50%;
    width: 50%;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.inp {
    font-family: Roboto;
    font-size: 2vh;
    line-height: 5vh;
    width: 48vh;
    margin-top: 3%;
    display: flex;
    align-items: center;
    background: #CCCCCC;
    border-color: transparent;
    color: #666666;
}

.buttons {
    display: flex;
    flex-direction: wrap;
    align-items: center;
}

.func {
    border-radius: 5px;
    text-align: center;
    align-items: center;
    height: 8vh;
    width: 10vw;
    margin: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1;
    line-height: 1;
    text-align: center;
}

.func:not(.active) {
    background: #CD6326;
    color: #F7F7F7;
}

.func:hover {
    /* Цвет фона под ссылкой */
    background: #E39128;
    color: #F7F7F7;
}

.func:active {
    background: #8F5613;
    color: #F7F7F7;
}